<div class="cover-customer-index">
  <div class="container">
    <div class="row justify-content-center">
        
      <h3 class="font-weight-normal mt-5 mb-5">マッチングしているユーザ一覧です。物件投稿者と交渉することができます。</h3>
      <% if @matchers_customers %>
    </div>
    <div class="row justify-content-center">
      <% @matchers_customers.each do |customer| %>
      <div class="one-post card w-100">
        <%= link_to public_customer_path(customer) do %>
        <%= customer.last_name %></p>
        <%= link_to customer.real_estates.real_estate_name,public_order_real_estates_path(customer) %></p>
         <% end %>
        <div class="d-flex">
          <tr><%#= attachment_image_tag(@customer_tag, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
          <h4 class="ml-5"><%#= customer.profile_image %></h4>
        </div>
        <p class="caption"><%#= "#{customer.post_comments.count} 投稿" %></p>
        <% end %>
      </div>
      <% end %>
      
      <% else %>
       現在マッチングしている物件投稿者はいません。
      
      <% end %>
    </div>
  </div>
</div>