<body class="text-center">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
<div class="container">
    <span class="skiplink-text">Skip to main content</span>
</div>
    </a>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <nav class="nav nav-masthead justify-content-center">
      <class="nav-link active"><%= link_to 'ログイン',new_customer_session_path %> </class>
      <class="nav-link"> <%= link_to '会員登録',new_customer_registration_path %></class>
      <class="nav-link"><%= link_to "ログアウト",destroy_customer_session_path, method: :delete %></class>
      </nav>
  </div>
  <div class="inner">
    <h1 class="masthead-brand"></i><strong>ようこそTintaiyuzuru</strong> へ !!</h1>
    </header>
    <main role="main" class="inner cover">
    <p class="lead"><p> intaiyuzuruでは,引っ越しを考えている様々な賃貸物件を誰かに譲ることができます！</p>
    <p class="lead">
    </p>
    </main>
  </div>
</div>
</div>