<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>ようこそ <i class="fas fa-book"></i><strong>Tintaiyuzuru</strong> へ !!</h1>
      <p> <i class="fas fa-book"></i><strong>Tintaiyuzuruでは</strong>, </p>
      <p>引っ越しを考えている様々な賃貸物件を誰かに譲ることができます！</p>
     
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'Log in',new_customer_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'Sign Up',new_customer_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          
        <div class="row">
          <%= link_to "ログアウト",destroy_customer_session_path, method: :delete %>
          
        </div>
        
      </div>
      <%= link_to '  物件投稿者はこちらからログイン',admin_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
    
    </div>
  </div>
</div>