<table class='table'>
  <tr><%= attachment_image_tag(@customer_tag,  :real_estates_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= @customer.last_name %></th>
  </tr>
  <tr>
	  <th>登録情報</th>
	  <th><%#= @customer.introduction %></th>
  </tr>
</table>

<div class='row'>
  <%#= link_to ''edit_customer_registration_path_path(@customer.id),class: "btn btn-outline-secondary btn-block fas fa-customer-cog edit_customer_#{@customer.id}" %>
</div>



<tbody>
    <%# if @customer %>
        フォロー数: <%#=link_to(@customer.following.count,customer_followings_path(@customer.id)) %>
        フォロワー数: <%#= link_to(@customer.followers.count,customer_followers_path(@customer.id))  %>
        <%# if current_customer.following?(@customer) %>
  <%#= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete %>
  <%# else %>
  <%#= link_to "フォローする", customer_relationships_path(@customer.id), method: :post %>
  <%# end %>
        </td>
  <% #else %>
  <p>ユーザーはいません</p>
      </tr>
      <%# end %>
</tbody>