<div class="cover-following-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">マッチング一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @matchers.each do |match| %>
      <div class="one-post card w-100">
        <%= link_to public_customer_path(match) do %>
        <p class="caption h4"><%= match.last_name %></p>
        <div class="d-flex">
          <tr><%= attachment_image_tag(@following_tag, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
          <h4 class="ml-5"><%#= following.profile_image %></h4>
        </div>
        <p class="caption"><%#= "#{following.post_comments.count} 投稿" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>