<footer class="footer border-top py-3">
   <div class="container">
     <div class="row">
       <div class="col-sm-9 mb-2">
        <span class="text-muted" >Copyright © Tintai yuzuru All Rights Reserved.</span>
       </div>
       <div class="col-sm-3 mb-2 ">
         <span class="text-muted">
          <i class="fab fa-twitter-square mr-1 w-auto"></i>
          <i class="fab fa-instagram-square mr-1 w-auto"></i>
          <i class="fab fa-facebook-square w-auto"></i>
          　#<%= link_to new_admin_session_path do%>
　          <i class="fas fa-unlock-alt item-decoration-none w-10px"></i>
　          <% end %>
        </span>
       </div>
     </div>
   </div>
</footer>