<div class="container" style="margin-bottom: 250px;">
  <div class="row">
    <div class="col">
      <h2>交渉内容確認</h2>
      <% @sum = 0 %>
      <div class="row mt-3">
        <div class="col-8">
          <table class="table table-bordered">
            <thead>
              <th>物件名</th>
              <th>譲渡価格（税込）</th>
              <th>小計</th>
            </thead>
          </table>
          
          <%= @cart_real_estate.real_estate.real_estate_name %>
          <%#= @cart_real_estate.real_estate.real_estate_areas %>
          <%#= @cart_real_estate.real_estate.offer_price %>
          <%#= @cart_real_estate.real_estate.payment_method %>
          
          <%= link_to("交渉を確定する",public_complete_order_path) %>
         
            
         
        </div>

    </div>
  </div>
</div>