<div class="row">

    <h2>不動産依頼物件一覧</h2>

       <table class="table">
          <thead>
            <tr class="table-head" style="background-color:#F5F5F5;">
              <th scope="col">依頼日時</th>
              <th scope="col">譲渡者</th>
              <th scope="col">注文ステータス</th>
            </tr>
          </thead>

          <tbody>
          <% @orders.each do |order| %>
          <% end %>
          </tbody>

       </table>
 </div>