
<div class = "container">
     <h2>不動産依頼物件一覧</h2>
<div class="row">
<table class="table">
 <tr class="table-head" style="background-color:#F5F5F5;">
              <th scope="col">譲渡者</th>
              <th scope="col">物件名</th>
            </tr>
           <% if @orders %>
           <% @orders.each do |order| %>
        <tr>
        <td><%= order.customer.last_name %></td>
       
        <td><%= order.real_estate.real_estate_name %></td>
        <td><%#= order.order_status %></td>
        </tr>
         <% end %>
            <% end %>
    </table>
   </div>
  </div>


<!--<div class = "contents">-->
<!--<div class='row'>-->
<!--<div class='col-md-9 offset-md-1'>-->
<!--        <h3>譲れる物件詳細ページです</h3>-->
<!--<h3>物件投稿者をフォローしてマッチングすると、下記物件を交渉することができます。</h3>-->
<!--<table border ="1" >-->
    
<!--     <%# if @orders %>-->
<!--　　 <%# @orders.each do |order| %>-->
<!--  <tr class="table-head" style="background-color:#F5F5F5;">-->
<!--    <th scope="col">譲渡者</th>-->
<!--    <th scope="col">物件名</th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td> -->
<!--     譲渡者-->
<!--    </td>-->
<!--    <td>-->
<!--   <%#= order.customer.last_name %>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td> -->
<!--    物件名-->
<!--    </td>-->
<!--     <%# end %>-->
<!--     <%# end %>-->
     
<!--     交渉成立した物件はありません。-->

    
<!--</table>-->

<!--</div>-->
<!--  </div>-->


          

         