<div class="row">

    <h2>不動産依頼物件一覧</h2>

       <table class="table">
          <thead>
            <tr class="table-head" style="background-color:#F5F5F5;">
              <th scope="col">依頼日時</th>
              <th scope="col">譲渡者</th>
              <th scope="col">注文ステータス</th>
            </tr>
          </thead>

          <tbody>
           <% if @orders %>
           <% @orders.each do |order| %>
    
        <td><%= order.customers.last_name %></td>
        <td><%= order.nearest_station %></td>
        <td><%= order.structure %></td>
        
       
<%= link_to('賃貸物件詳細', admin_order_path(order.id)) %>

  </tbody>
</table>
          
          <% end %>
        <% end %>
         